/* ----------------  MAIN STYLES ------------------- */

html, body{
	margin: 0;
	padding: 0;
	font-size: 18px;
	background-color: white;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
#main_body,
#main_header {
	display: flex;
	flex-direction: row;
}
#header_title,
.main_container {
	display: flex;
	flex-direction: column;
}

/* ----------------  HEADER ------------------- */

#header_img {
	width: 30%;
	display: flex;
	justify-content: center;
	background-color: #ffc300;
}
#header_img img {
	margin: 25px;
	border-radius: 100%;
	border: 3px solid rgba(0,0,0,0.35);
}
#header_title {
	align-self: center;
}
#header_title h1,
#header_title h2 {
	margin: 0;
	padding: 0 40px;
	color: rgba(0,0,0,0.95);
}
#header_title h2 {
	position: relative;
	display: inline;
}
#header_title h2:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 5px;
	margin-left: 40px;
	width: 10%;
	height: 4px;
	background: #ffc300;
}
#surname_title {
	color: #ffc300;
}
/*ffc300*/
/* ----------------  ASIDE ------------------- */

aside {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #ffc300;
}
aside section h1{
	color: #ffc300;
	background-color: rgba(0,0,0,0.95);
	text-align: center;
	padding: 10px 0;
	text-transform: uppercase;
}
aside section div.container {
	padding: 0 40px;
}
#contact ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
#contact ul li {
	margin-bottom: 10px;
}
#contact ul li a {
	color: #000;
}
#about_section {
	flex-grow: 1;
	text-align: justify;
}
/* ----------------  MAIN ------------------- */

.main_container {
	width: 70%;
}
.main_section {
	padding: 0 40px;
}
.main_section h2 {
	border-bottom: 3px solid #ffc300;
	padding-bottom: 10px;
}
.main_section h2 i {
	color: #ffc300;
	margin-right: 30px;
}
#hobbies {
	text-align: center;
	margin-bottom: 20px;
}
#hobbies i {
	width: 1em;
	height: 1em;
	line-height: 1em;
	border-radius: 50%;
	border: 2px solid #000;
	padding: 16px;
	margin: 0 10px;
}

/* ----------------  ARTICLE ------------------- */

.article {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin-bottom: 20px;
}
.article p {
	text-align: justify;
}
.date_place {
	display: flex;
	flex-direction: row;
	width: 35%;
	padding-right: 20px;
}
.infos {
	display: flex;
	flex-direction: column;
	width: 65%;
}
.infos p {
	margin-bottom: 8px;
	
}
.date_place i {
	margin-right: 20px;
	padding-top: 4px;
	color: #ffc300;
}
.date_place p,
.infos p {
	margin-top: 0;
}

/* ----------------  MOBILE SCREEN ------------------- */

@media only screen and (max-width: 900px) {
	#main_body,
	#main_header {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	aside,
	.main_container,
	#header_img,
	.date_place,
	.infos {
		width: 100%;
	}
	#contact {
		text-align: center;
	}
	#header_title {
		text-align: center;
		background-color: #ffc300;
	}
	#surname_title {
		color: #000;
	}
	.main_section {
		padding: 0 25px;
	}
	.main_section h2 i {
		margin-right: 15px;
	}
	.infos {
		margin-left: 20px;
	}
	.infos p {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 570px) {
	.article {
		display: flex;
		flex-direction: column;
	}
	.date_place,
	.infos {
		width: 100%;
	}
}